  .ordersPage {
    padding: 20px;
    margin: 20px;
  }

  .ordersPage h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .ordersPage ul {
    list-style-type: none;
    padding: 0;
  }

  .ordersPage li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
  }

  .ordersPage h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .ordersPage p {
    margin: 5px 0;
  }
  .ordersPage .p-price{
    font-weight: bold;

  }

  .ordersPage .canceled span{
    color: red;
  }

  .ordersPage .sold span{
    color: green;
  }

  .ordersPage .pending span{
    color: yellow;
  }

  .ordersPage .error-message {
    color: red;
  }


  /* OrdersPendingPage*/

  .orders-pending-page {
    padding: 20px;
    margin-top: 40px;
  }

  .orders-pending-page h1 {
    margin-bottom: 20px;
  }

  .orders-pending-page table {
    width: 90vw;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .orders-pending-page th,
  .orders-pending-page td {
    border: 1px solid #525252;
    padding: 10px;
    text-align: center;
  }

  .orders-pending-page th {
    background-color: #323232;
    color: #ccc;
  }

  .orders-pending-page tbody tr:nth-child(even) {
    background-color: #555;
  }

  .orders-pending-page tbody tr:nth-child(odd) {
    background-color: #444;
  }

  .orders-pending-page img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }


  .orders-pending-page .success-message{
    position: absolute;
    width: max-content;
    left: 20px;
    top: 27px;
    font-size: 13px;
  }

  .orders-pending-page  .error-message{
    position: absolute;
    color: red;
    font-size: 13px;
    width: 8vw;
  }

