/* Estilos para MyProfile */

.profilePage {
  padding: 40px;
  background-color: #323232;
  border: 1px solid #525252;
  border-radius: 10px;
  box-shadow: -1px -1px 5px 4px rgba(51, 51, 51, 1);
  width: max-content;
  margin: 80px auto 0 auto;
  padding-bottom: 70px;
}

.profilePage h1 {
  color: #ccc;
  margin-top: 0px;
}

.profilePage div {
  margin-top: 20px;
  position: relative;
}

.profilePage h2 {
  color: #fff;
  width: 400px;
  word-wrap: break-word;
}

.profilePage p strong{
    margin: 5px 5px 10px 5px;
}
.profilePage p {
  color: #ddd;
  border-bottom: 1px solid #525252;
  padding-bottom: 10px;
  width: auto;
  word-wrap: break-word;
}

.profilePage a{
   position: absolute;
   right: -25px;
   bottom: -65px;
}

.profilePage button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profilePage button:hover {
  background-color: #217dbb;
}

/* Estilos para EditProfile */

.edit-profile {
  padding: 40px;
  background-color: #323232;
  border: 1px solid #525252;
  border-radius: 10px;
  box-shadow: -1px -1px 5px 4px rgba(51, 51, 51, 1);
  width: max-content;
  margin: 80px auto 0 auto;
  text-align: center;
  position: relative;
}

.edit-profile h1 {
  color: #ccc;
  margin-bottom: 20px;
}

.edit-user-data {
  display: flex;
  justify-content: center;
}

.edit-user-data > div {
  margin-right: 15px;
}

.edit-user-data fieldset {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: left;
  border: none;
  margin-bottom: 20px;
}

.edit-user-data label {
  margin-bottom: 5px;
  font-size: 15px;
  color: #fff;
}

.edit-user-data input {
  border-radius: 8px;
  height: 3vh;
  font-size: 14px;
  padding: 0 10px;
}

.edit-user-data button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 40px;
   width: max-content;
   right: 40px;
}

.edit-user-data button:hover {
  background-color: #217dbb;
}

.edit-profile .error-message {
  color: #ff0000;
  margin-top: 20px;
}


/*Responsive*/
@media screen and (max-width: 1023px) {
  
  .edit-user-data{
    flex-direction: column;
  }

  .edit-user-data > div{
    margin-right: 0;
  }
  .edit-user-data div:nth-child(2){
    border-top: 1px dashed #bbbbbb;
    width: max-content;
    padding-top: 10px;
  }
  .edit-user-data button{
    bottom: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 600px) {
  .edit-profile{
    width: auto;
  }
  .edit-user-data fieldset{
    width: 65vw;
    padding: 10px 0px;
  }
  .profilePage{
    padding: 30px;
    width: 80%;
    height: 300px;
  }
  .profilePage a{
    right: -15px;
    bottom: -50px;
  }
}
