.productPage {
  padding: 35px;
  width: 75vw;
  margin: 80px auto;
  background-color: #323232;
  border: 1px solid #525252;
  border-radius: 10px;
  box-shadow: -1px -1px 5px 4px rgba(51, 51, 51, 1);
  -webkit-box-shadow: -1px -1px 5px 4px rgba(51, 51, 51, 1);
  -moz-box-shadow: -1px -1px 5px 4px rgba(51, 51, 51, 1);
}

.product-detail {
  display: flex;
  gap: 20px;
}

.product-image {
  max-width: 50%;
  position: relative;
}

.product-image::before {
  content: "\1F50E"; 
  font-size: 4em;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  transition: opacity 0.8s ease;
}

.product-image:hover::before,
.product-image:focus::before {
  opacity: 1;
}


.product-image img {
  width: 550px;
  height: 605px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  object-fit: cover;
  overflow: auto;
}

.product-image img:hover {
  opacity: 0.8;
}

.product-info {
  flex: 1;
  position: relative;
}

.productPage .product-info .add-to-cart-button{
  border: none;
  height: 35px;
  position: absolute;
  bottom: -20px;
  right: -25px;
  display: flex;
  align-items: center;
  background: #3498dbcf;
  height: 35px;
  padding: 10px 10px 6px 10px;
}
.productPage .delete-product-button{
  position: absolute;
    bottom: -20px;
    right: 80px;
}


.product-info .add-to-cart-button svg{
  fill: white;
  width: 30px;
  margin-right: -5px;
}

.product-info h1 {
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 10px;
}

/* Styles for the gallery thumbnails container */
.product-thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: fit-content;
}

/* Styles for individual gallery thumbnails */
.product-thumbnail {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 5px;
}

.product-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.product-thumbnail img:hover {
  opacity: 0.8;
}


/* Estilos para el modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  border: 1px solid #525252;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-overlay button{
position: absolute;
top: 2px;
right: 2px;
}

.modal-content img{
  height: 80vh;
  width: auto;
}


/*Responsive*/
@media screen and (max-width: 1440px) {
  .productPage{
    width: 85vw;
  }

  .productPage .product-image img{
    width: 470px;
    height: 650px;
  }
}

@media screen and (max-width: 1100px){
  .productPage .product-image{
    max-width: 100%;
  }
  .productPage .product-image img{
    width: 100%;
    height: 520px;
  }
   .productPage .product-detail{
    flex-direction: column;
  }
  .productPage .product-info{
    display: flex;
    flex-direction: column-reverse;
  }
  .product-thumbnails{
    margin-top: 0px;
    align-self: center;
    justify-content: space-evenly;
    gap: 5px;
  }
  .product-thumbnail{
    width: 140px;
    height: 110px;
  }
  .productPage  .success-message,
  .productPage .error-message{
    text-align: center;
    margin-top: 0px;
  }

}


@media screen and (max-width: 768px){
  .modal-content img{
    height: 85vh;
    width: 85vw;
    object-fit: cover;
  }
  
}
@media screen and (max-width: 650px){
  .productPage {
    width: 80vw;
  }
  .productPage .product-image img{
    height: 350px;
  }
  .product-detail{
    gap: 10px;
  }
}

@media screen and (max-width: 550px){
  .productPage {
    width: 70vw;
  }
  .productPage .product-image img{
    height: 250px;
  }
  .product-thumbnail {
    width: 80px;
    height: 80px;
  }

  .modal-content img{
    height: 70vh;
    width: 85vw;
    object-fit: contain;
  }
}